@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "2020base";

.headline-container {
  padding-bottom: $spacing-unit-xs;
  padding-top: $spacing-unit-sm;
  float: left;
  border-bottom: 1px solid $color-gray-extra-light;
  width: 100%;

  &:before {
    background: url("/images/home/home-particles-2.svg") no-repeat 0 0;
    content: "";
    display: block;
    height: 180px;
    width: 250px;
    position: absolute;
    top: -30px;
    left: 40px;
    transform: rotate(170deg);

    @media (max-width: $screen-sm-min) {
      display: none;
    }
  }

  .col-md-5 {
    width: calc(100% * (5 / 12));

    h1 {
      font-size: 45px;
      margin-top: 0;
    }

    @media (max-width: $screen-sm-min) {
      width: 100%;
    }
  }

  .col-md-7 {
    width: calc(100% * (7 / 12));

    h2 {
      margin-top: 7px;
      margin-bottom: $spacing-unit-xs;
    }

    p {
      font-size: 24px;
      line-height: 30px;
    }

    a {
      color: $color-primary-dark;
      text-decoration: none;
      font-size: 16px;
    }

    @media (max-width: $screen-sm-min) {
      width: 100%;
    }
  }
}

.question {
  margin-top: 0;
  text-align: center;
  padding-bottom: $spacing-unit-sm;
}

.container.container2020.offerings-section {
  padding-top: 0;
}

.offerings {
  .col-md-6, .col-sm-6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: $spacing-unit-xs $spacing-unit-sm;
  }

  .gitlab-offering {
    max-width: 400px;

    .description {
      font-weight: 600;
    }

    .text {
      font-size: 16px;
    }

    a {
      margin-left: 0;
    }
  }

  .gitlab-saas {
    border-right: 1px solid $color-gray-extra-light;

    @media (max-width: 958px) {
      border: 0;
    }
  }
}

.grey-background {
  background: #f5f5f5;
}

.features-customers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.features-trial {
  width: calc(100% * (7 / 12));
  padding-right: $spacing-unit-lg;
  margin-top: $spacing-unit-xs;

  h3 {
    margin-bottom: $spacing-unit-xs;
    margin-top: 0;
  }

  .text-bold {
    font-weight: 600;
  }

  @media (max-width: $screen-sm-min) {
    width: 100%;
    padding-right: 0;
  }
}

.customers {
  width: calc(100% * (5 / 12));
  background: $color-white;
  padding: $spacing-unit-sm;
  border-radius: $border-radius-large;

  @media (max-width: $screen-sm-min) {
    width: 100%;
  }
}

.features {
  padding-left: $spacing-unit-xs;
}

.customer-logos-container-color {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  img {
    height: 30px;
    margin: 25px 50px 25px 0;

    @media (max-width: $screen-sm-min) {
      margin: 20px auto;
    }
  }

  a {
    @media (max-width: $screen-sm-min) {
      margin: 0 auto;
    }
  }
}

.btn.lavender {
  width: unset;

  @media (max-width: 958px) {
    width: 100%;
  }
}

.get-started-block:before {
  background: url("/images/enterprise/gitlab-enterprise-icon-accent-01.svg") no-repeat 0 0;
  content: "";
  display: block;
  height: 50px;
  margin: 0 auto $spacing-unit-xs auto;
  width: 96px;
}

.gitlab-type-image-container {
  svg {
    margin-bottom: $spacing-unit-sm;
    max-width: 170px;
    max-height: 100px;
  }
}

// add margin-bottom for 0 to small screen only
.mb-sm-5 {
  @media (max-width: $screen-sm-min) {
    margin-bottom: 25px;
  }
}

.self-hosted-signup-form {    
  @media (min-width: $grid-float-breakpoint) {
    .mktoForm {// sass-lint:disable-line class-name-format
      width: 536px;
    }

    .mktoFormCol + .mktoFormCol {// sass-lint:disable-line class-name-format
      margin-left: 26px;
    }

    .mktoFormRow {// sass-lint:disable-line class-name-format
      display: flex;
      justify-content: space-between;
    }
  }

  @media (max-width: $grid-float-breakpoint) {
    .mktoForm {// sass-lint:disable-line class-name-format
      width: 450px;
    }
  }

  @media (max-width: $screen-sm-min) {
    .mktoForm {// sass-lint:disable-line class-name-format
      width: 400px;
    }
  }

  @media (max-width: 480px) {
    .mktoForm {// sass-lint:disable-line class-name-format
      width: 300px;
    }
  }
}

.self-managed-col-wrap {
  display: flex;

  @media (max-width: $container-large-desktop) {
    justify-content: space-between;
  }

  @media (max-width: $screen-sm-min) {
    flex-direction: column;
  }
}

.self-managed-col-left {
  width: 65%;

  @media (max-width: $container-large-desktop) {
    width: 62%;
  }

  @media (max-width: $screen-sm-min) {
    width: 100%;
    margin-bottom: 50px;
  }

  .mktoForm #FirstName {// sass-lint:disable-line class-name-format id-name-format
    border: 1px solid $color-primary;

    &.mktoInvalid {// sass-lint:disable-line class-name-format 
      border: 1px solid #f00;
    }

    &.mktoValid {// sass-lint:disable-line class-name-format
      border: 1px solid #ddd;
    }
  }

  .mktoForm .mktoButtonRow .mktoButtonWrap button {// sass-lint:disable-line class-name-format
    background: $color-accent;
    box-shadow: $box-shadow;
    font-size: 16px;
    transition: opacity .2s ease;

    &:hover {
      background: $color-accent-alt;
      box-shadow: $box-shadow;
    }
  }

  [for="commentCapture"],
  #commentCapture {//sass-lint:disable-line id-name-format
    display: none;
  }
}

.self-managed-col-right {
  width: 30%;

  @media (max-width: $screen-sm-min) {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 40px;
  }

  img {
    width: 260px;
    margin: 10px auto 0;
    display: block;
  }

  ul {
    padding: 0;
    margin: 13px 0 0;
  }

  li {
    position: relative;
    list-style-type: none;
    margin-bottom: 15px;
    padding-left: 40px;

    &::before {
      content: url("/images/icons/checkmark-purple-circle.svg");
      position: absolute;
      left: 0;
      top: 2px;
    }

    @media (max-width: $grid-float-breakpoint) {
      font-size: 16px;
      padding-left: 37px;
    }
  }

  .self-managed-list-intro {
    @media (max-width: $grid-float-breakpoint) {
      font-size: 17px;
    }
  }
}
